@page "/rewrite"
@rendermode InteractiveServer

@using System.Net.Http.Json

<h1>BitFlow Rewrite</h1>

<div class="mb-3">

    <input class="form-control"
           @bind="Expression"
           placeholder="Expression" />

</div>

<div class="mb-4">

    <button class="btn btn-primary"
            @onclick="RunRewrite">
        Rewrite
    </button>

</div>

@if (!string.IsNullOrWhiteSpace(Error))
{
    <div class="alert alert-danger">
        @Error
    </div>
}

@if (Result != null)
{
    <div class="card mb-3">
        <div class="card-header">
            Parsed
        </div>

        <div class="card-body">
            <code>@Result.parsed</code>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            Rewritten
        </div>

        <div class="card-body" style="background-color:#314527;font-weight:bold;">
            <code>@Result.rewritten</code>
        </div>
    </div>

    <h3>Trace</h3>

    @foreach (var step in Result.trace)
    {
        <div class="card mb-3">

            <div class="card-header">
                @step.rule
            </div>

            <div class="card-body">

                <div>
                    <b>Before</b>
                </div>

                <code>@step.before</code>

                <hr />

                <div>
                    <b>After</b>
                </div>

                <code>@step.after</code>

            </div>

        </div>
    }
}

@code {

    private string Expression = "a^b^a";

    private RewriteResponse? Result;
    private string? Error;

    [Inject]
    private HttpClient Http { get; set; } = default!;

    private async Task RunRewrite()
    {
        Error = null;
        Result = null;

        var response = await Http.GetAsync(
            $"http://localhost:5267/rewrite?expr={Uri.EscapeDataString(Expression)}"
        );

        if (!response.IsSuccessStatusCode)
        {
            Error = await response.Content.ReadAsStringAsync();
            return;
        }

        Result = await response.Content.ReadFromJsonAsync<RewriteResponse>();
    }

    public class RewriteResponse
    {
        public string input { get; set; } = "";
        public string parsed { get; set; } = "";
        public string rewritten { get; set; } = "";

        public List<RewriteStep> trace { get; set; } = [];
    }

    public class RewriteStep
    {
        public string rule { get; set; } = "";
        public string before { get; set; } = "";
        public string after { get; set; } = "";
    }
}